.my-experience {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.my-experience .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.my-experience .text-wrapper {
  position: absolute;
  top: -1px;
  left: 736px;
  background: linear-gradient(
    180deg,
    rgb(171.06, 77.63, 9.98) 1.56%,
    rgb(142.71, 73.18, 93.22) 59.89%,
    rgb(142.71, 73.18, 93.22) 59.9%,
    rgb(125.25, 70.44, 144.5) 95.83%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
}

.my-experience .overlap-group {
  width: 512px;
  left: 36px;
  position: absolute;
  height: 439px;
  top: 151px;
}

.my-experience .text-wrapper-2 {
  position: absolute;
  width: 436px;
  top: 142px;
  left: 72px;
  background: linear-gradient(
    180deg,
    rgb(171.06, 77.63, 9.98) 1.56%,
    rgb(142.71, 73.18, 93.22) 59.89%,
    rgb(142.71, 73.18, 93.22) 59.9%,
    rgb(125.25, 70.44, 144.5) 95.83%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.my-experience .mingcute-school-line {
  position: absolute;
  width: 82px;
  height: 104px;
  top: 39px;
  left: 215px;
}

.my-experience .vector {
  position: absolute;
  width: 512px;
  height: 439px;
  top: 0;
  left: 0;
}

.my-experience .overlap {
  width: 512px;
  left: 1388px;
  position: absolute;
  height: 439px;
  top: 151px;
}

.my-experience .text-wrapper-3 {
  position: absolute;
  width: 436px;
  top: 148px;
  left: 76px;
  background: linear-gradient(
    180deg,
    rgb(171.06, 77.63, 9.98) 1.56%,
    rgb(142.71, 73.18, 93.22) 59.89%,
    rgb(142.71, 73.18, 93.22) 59.9%,
    rgb(125.25, 70.44, 144.5) 95.83%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.my-experience .img {
  left: 219px;
  position: absolute;
  width: 82px;
  height: 104px;
  top: 39px;
}

.my-experience .overlap-2 {
  width: 519px;
  left: 714px;
  position: absolute;
  height: 439px;
  top: 151px;
}

.my-experience .text-wrapper-4 {
  position: absolute;
  width: 436px;
  top: 142px;
  left: 83px;
  background: linear-gradient(
    180deg,
    rgb(171.06, 77.63, 9.98) 1.56%,
    rgb(142.71, 73.18, 93.22) 59.89%,
    rgb(142.71, 73.18, 93.22) 59.9%,
    rgb(125.25, 70.44, 144.5) 95.83%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.my-experience .mingcute-school-line-2 {
  left: 361px;
  position: absolute;
  width: 82px;
  height: 104px;
  top: 39px;
}

.my-experience .vector-2 {
  position: absolute;
  width: 68px;
  height: 82px;
  top: 48px;
  left: 222px;
}
